#div-text-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    float: initial;
}

#div-btn-container {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    position: absolute;
    color: black;
    font-size: 30px;
}